@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

body {
  background-color: #fcfbe2;
  margin: 0;
}

h1 {
  padding-top: 100px;
  text-align: center;
  margin-top: 0px;
}

.main-page {
  text-align: center;
  font-family: "Grape Nuts", cursive;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.front-img {
  width: 400px;
  height: 500px;
}

.front-img:hover {
  transform: scale(1.08);
  transition: all ease;
  border-radius: 10px;
  border: 2px solid rgb(65, 160, 65);
  cursor: pointer;
}

.food-name {
  font-family: "Grape Nuts", cursive;
  font-size: 27px;
  /* color: rgb(65, 160, 65); */
}

/* header {
  background-color: #fafffa;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 black;
} */
#nav {
  width: 100%;
  height: 75px;
  background-color: #fcfbe2;
  position: fixed;
  padding: auto;
  box-shadow: 0 0 5px 0 black;
  align-items: center;
  font-family: "Grape Nuts";
  font-size: 20px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;

  border-right: 1px solid;
}

/* header * {
  display: inline;
} */

/* header li {
  margin: 15px;
} */

/* header li a {
  color: black;
  text-decoration: none;
} */
nav a:hover {
  background-color: rgb(53, 122, 13);
  transform: scale(1.08);
  transition: all ease;
  transition-duration: 0.18s;
  border-left: 1px solid;
  color: #fcfbe2;
}

.recipe-img {
  width: 280px;
  height: 375px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 10px;
}

.info-container {
  margin: 20px;
  display: block;
  flex-direction: column;
  border: 2px solid rgb(53, 122, 13);
  padding: 10px;
  border-radius: 10px;
}

.food-text {
  font-size: 20px;
  margin: 10px;
}

.left {
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  width: 420px;
}

.ingredients-container {
  border: 2px solid rgb(53, 122, 13);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ingredients {
  list-style: ;
}

.ingredients li {
  margin: 15px;
}

.time {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.time li {
  margin: 20px;
}

.steps-container {
  display: block;
  /* flex-direction: column; */
  border: 2px solid rgb(53, 122, 13);
  border-radius: 10px;
  margin: 20px;
}

.steps li {
  margin: 20px;
}
