@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

body {
  background-color: #fdfcac;
}

.main-page {
  text-align: center;
  font-family: "Grape Nuts", cursive;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.front-img {
  width: 400px;
  height: 500px;
}

.front-img:hover {
  transform: scale(1.08);
  transition: all ease;
  border-radius: 10px;
  border: 2px solid rgb(65, 160, 65);
  cursor: pointer;
}

.food-name {
  font-family: "Grape Nuts", cursive;
  font-size: 27px;
  /* color: rgb(65, 160, 65); */
}
